.searchInput {
  display: flex;
  flex-direction: row;
  width: 82%;
  margin-left: 9%;
  background-color: rgba(36, 63, 23, 1);
  padding: 10px;
  margin-top: 110px;
  z-index: 1;
  position: fixed;
}
